*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  user-select: none;
}

html {
  transition: color .5s, filter .5s;
}

:root[theme="dark"] {
  filter: invert(100%) hue-rotate(180deg);
}

:root[theme="dark"] img{
  filter: invert(100%) hue-rotate(180deg);
}

:root[theme="dark"] iframe{
  filter: invert(100%) hue-rotate(180deg);
}

:root[theme="dark"] iframe .ytp-fullscreen{
  filter: invert(100%) hue-rotate(180deg);
}

:root {
  --body: #f1f3f6;
  --switch: #000000;
  --checkbox: #000000;
  /* All colors */
}

:root[data-theme="dark"] {
  --body: #000000;
  --switch: #000000;
  --checkbox: #f1f3f6;
  /* All colors in dark */
}

body {
  justify-content: center;
  align-items: center;
  background-color: var(--body);
}

label {
  position: absolute;
  display: flex;
  width: 90px;
  height: 14px;
  border-radius: 30rem;
  overflow: hidden;
  cursor: pointer;
  border: solid;
  border-radius: 10%;
  top:25%;
}

label:after {
  position: absolute;
  left: 5%;
  content: "";
  width: 30%;
  height: 100%;
  background-color: var(--switch);
  border-radius: 40%;
  vertical-align: middle;

  /* Choose the result */

  /*transition: all 0.4s ease;*/ /* Classic */
  transition: all 0.4s cubic-bezier(0.25, 0.1, 0.25, 1.65); /* Final animation */
  /*transition: transform 0.4s cubic-bezier(0.25, 0.1, 0.25, 1.65);*/ /* Enter from outside */
}

label:active::after {
  width: 5%;
}

input[type="checkbox"] {
  width: 100%;
  height: 100%;
  visibility: hidden;
}

input[type="checkbox"]:checked + label:after {
  left: calc(100% - 10px);
  transform: translateX(-100%);
}

.toggle-dark-mode {
  width: 90px;
  height: 100%;
  position: relative;
}

