	
	
.autoplay-slider{
    display: flex;
    height: 100%;
    width: 100%;
    animation: 20s linear infinite sliderAnimation;
}

.slide{
    background: #3486eb;
    margin: 20px;
    position: relative;
} 

.slideimg{
    height: 95vh;
    width: 100%;
}

	
@keyframes sliderAnimation {
    100% {
      transform: translateX(-50%);
    }
}