body {
  font-family: "Montserrat","Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: .8px;
  color: #333;
  flex-direction: column;
}

a {
  transition: opacity .3s;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  border-style: none;
}

.pc-only {
  display: block;
}

.sp-only {
  display: none;
}

/*--------------------------------
 レイアウト
---------------------------------*/
.section {
  position: relative;
  top: 10%;
  bottom: 10%;
  padding-bottom: 10%;
}

.inner {
  /* max-width: 1340px; */
  margin: 0 0;
  padding: 0 5%;
}

/*--------------------------------
 見出し
---------------------------------*/
.title {
  font-size: 34px;
  font-weight: normal;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 40px;
  letter-spacing: .05em;
  color: #333;
}

.lead {
  margin-bottom: 30px;
}

/*--------------------------------
ヘッダー
---------------------------------*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color:#f4f4f4;
  box-shadow: 0px 1px 0px #cbcbcb;
  z-index: 2;
  padding:0% 10%;
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2% 0;
}

.header-logo {
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  margin-right: 5%;
  letter-spacing: 0.05em;
}

.header-logo a {
  color: #333;
}

.header-nav-list {
  display: flex;
  list-style: none;
}

.header-nav-item:not(:last-child) {
  margin-right: 5%;
}

.header-nav-item a {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.05em;
  color: #333;
  vertical-align: middle;
}

.header-nav-item a:hover {
  opacity: 0.8;
}

/*--------------------------------
 スプリットスクリーン
---------------------------------*/
.split {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-wrap: wrap;
  padding: 0 10%;
  justify-content: space-between;
  position: relative;
  top: 10%;
  background-color:#ffffff;
}

.split-body {
  width: 50%;
  top: 50%;
  left: 10.5%;
  background-color: rgb(242, 184, 97);
  position: absolute;
  border-radius: 10px;
  padding-right: 3%;
  padding-left: 10%;
  padding: 5%;
  z-index: 1;
  opacity: 0.2;
}

.split-body:hover{
  opacity: 0.7;
}

.split-title {
  font-size: 42px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 2%;
  letter-spacing: .05em;
}

/*--------------------------------
 Works
---------------------------------*/
.works{
  width: 100%;
  background-color: #ffffff;
  padding-top: 10%;
}

.works-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -40px;
}

.works-item {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
  color: #333;
}

.works-item:hover {
  opacity: .9;
}

.works-item:nth-of-type(3n) {
  margin-right: auto;
}

.works-img img {
  border: 1px solid #e6e6e6;
  width: 400px;
  height: 300px;
}

.works-name {
  font-size: 16px;
  font-weight: bold;
  margin-top: 8px;
}

.works-info {
  font-size: 12px;
}

/*--------------------------------
 Skill
---------------------------------*/

.skill{
  width: 100%;
  background-color: #ffffff;
}

.skill-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -50px;
}

.skill-item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 48%;
  margin-bottom: 50px;
}

.skill-img {
  width: 60px;
  height: auto;
  margin-right: 20px;
}

.skill-body {
  flex: 1;
}

.skill-name {
  margin-bottom: 3px;
}

/*--------------------------------
 Contact
---------------------------------*/

.contact{
  width: 100%;
  background-color: #ffffff;
}

.contact-item:not(:last-child) {
  margin-right: 5%;
}

.contact-text {
  margin-top: 10%;
}
/*--------------------------------
 ページトップ
---------------------------------*/
.page-top {
  font-weight: bold;
  padding: 1%;
  cursor: pointer;
  text-align: center;
  background-color: #f3f3f3;
}

.page-top .material-icons-outlined {
  vertical-align: bottom;
}

/*--------------------------------
 フッター
---------------------------------*/
.footer {
  padding: 30px;
  background-color: #333;
}

.copyright {
  font-size: 10px;
  text-align: center;
  color: #797979;
}
/*--------------------------------
 下層：Worksページ
---------------------------------*/
.article {
  background-color: #ffffff;
}

.article-inner {
  margin: 0 0;
  
}

.article-title {
  font-size: 40px;
  text-align: center;
  padding-top: 15vh;
  padding-bottom: 5vh;
  height: auto;
  
}

.article-displayspace{
  width: 60%;
  margin: 0 auto;
  margin-bottom: 10%;
}

.article-display{
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

.article-movie{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.article-body {
  margin: 0 20%;
  margin-bottom: 10%;
}

.article-info-title {
  font-size: 15px;
}

.article-body img {
  margin-bottom: 10%;
}

.article-body p{
  margin-bottom: 10%;
}

.article-br{
  margin-bottom: 10%
}

.article-list{
  margin-left: 5%;
}

.home-link {
  text-align: center;
}